<!-- left menu starts -->
<div class="span3">
                <div class="sidebar-nav">
                  <!--<div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu">
                      <i class="icon-dashboard"></i>管理员</div>
                    <ul id="dashboard-menu" class="nav nav-list collapse in">
                        <li><a href="{:U('Admin/Veterinary/index')}">管理员管理</a></li>
                        <li><a href="{:U('Admin/Veterinary/add')}">管理员添加</a></li>
                    </ul>-->
                <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu">
                    <i class="icon-dashboard"></i>用户管理</div>
                <ul id="dashboard-menu" class="nav nav-list collapse in">
                    <li ><a href="{:U('Admin/User/users')}">用户管理</a></li>
                    <li ><a href="{:U('Admin/User/add')}">用户添加</a></li>
                </ul>

                    <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu">
                        <i class="icon-dashboard"></i>宠物认领管理</div>
                    <ul id="dashboard-menu" class="nav nav-list collapse in">
                        <li><a href="{:U('Admin/Department/index')}">宠物认领列表</a></li>
                        <li><a href="{:U('Admin/Department/add')}">宠物认领添加</a></li>
                        <li><a href="{:U('Admin/Department/examinelist')}">宠物认领审核列表</a></li>
                    </ul>
                <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu">
                  <i class="icon-dashboard"></i>宠物课堂管理</div>
                <ul id="dashboard-menu" class="nav nav-list collapse in">
                    <li><a href="{:U('Admin/Pet/index')}">宠物课堂列表</a></li>
                    <li><a href="{:U('Admin/Pet/add')}">宠物课堂添加</a></li>
                </ul>
                <!--<div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu">
                    <i class="icon-dashboard"></i>病例分享管理</div>
                <ul id="dashboard-menu" class="nav nav-list collapse in">
                    <li><a href="{:U('Admin/Disease/index')}">病例分享列表</a></li>
                    <li><a href="{:U('Admin/Disease/add')}">病例分享添加</a></li>
                </ul>-->
                    
                  <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu">
                      <i class="icon-dashboard"></i>知道和趣事管理</div>
                    <ul id="dashboard-menu" class="nav nav-list collapse in">
                <!--        <li><a href="{:U('Admin/Category/index')}">类别</a></li>  -->
                        <li><a href="{:U('Admin/Message/index')}">知道和趣事列表</a></li>
                        <li><a href="{:U('Admin/Message/add')}">知道和趣事添加</a></li>
                        <li><a href="{:U('Admin/Message/examinelist')}">知道和趣事审核列表</a></li>
                    </ul>
                <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu">
                    <i class="icon-dashboard"></i>评论意见管理</div>
                <ul id="dashboard-menu" class="nav nav-list collapse in">
                    <li><a href="{:U('Admin/Comment/index')}">评论列表</a></li>
                    <li><a href="{:U('Admin/Yijian/index')}">意见列表</a></li>
                </ul>
                <!--<div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu">
                    <i class="icon-dashboard"></i>静态网页</div>
                    <ul id="dashboard-menu" class="nav nav-list collapse in">
                        <li><a href="{:U('Admin/Guanyu/index')}">关于我们</a></li>
                    </ul>-->
                <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu">
                    <i class="icon-dashboard"></i>图片管理</div>
                    <ul id="dashboard-menu" class="nav nav-list collapse in">
                        <li><a href="{:U('Admin/Banner/index')}">首页Banner管理</a></li>
                        <li><a href="{:U('Admin/Banner/add')}">首页Banner添加</a></li>
                    </ul>
               <!-- <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu">
                    <i class="icon-dashboard"></i>首页信息管理</div>
                <ul id="dashboard-menu" class="nav nav-list collapse in">
                    <li><a href="{:U('Admin/Footter/index')}">网页底部</a></li>
                </ul>-->

            </div>
        </div>
<!-- left menu ends -->