<include file="Public/_header" />


<section>
    <div class="mid_container">
        <div class="blog_main">
            <div class="blog_lft lft">
                <div class="post_main lft">

                    <div class="contact_contlft lft">
                        <span class="leavecomments lft">请发出你的意见</span><div class="clear"></div>
                        <ul class="contact">
                            <form action="{:U('Index/Yijian/add')}" method="post">
                                <li class="lft"><label>意见内容</label><br />
                                    <textarea id="content" name="content" class="txtarea"></textarea></li>
                                <li class="last rgt"><input type="submit" value="留下你的脚印" class="submit_btn" /></li>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="top_btn rgt"><a class="backtop" href="#">Back to Top</a></div><div class="clear"></div>
    </div>
</section>



<include file="Public/_footer" />