<include file="Public:header"/>

    <div class="container-fluid">
        
        <div class="row-fluid">
            <include file="Public:left"/>
        <div class="span9">
            <h1 class="page-title">添加宠物课堂</h1>
<div class="btn-toolbar">
    
  <div class="btn-group">
  </div>
</div>
<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#" data-toggle="tab">添加</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
    <form id="subform" enctype="multipart/form-data" action="{:U('Admin/Pet/add_do')}" method="post">
        <label>宠物名称：</label>
        <input type="text" value="" name='title'/>
        <label>宠物图片：</label>
        <img alt="" width="80" src="Public/Uploads/{$result.img}">
        <input type="file" name="img" id="img" >
        <label>宠物外形特征：</label>
        <textarea style="margin: 0px 0px 10px; width: 672px; height: 152px;" type="text" value="" name='num' ></textarea>
         <label>宠物饲养方法：</label>
        <textarea style="margin: 0px 0px 10px; width: 672px; height: 152px;" name="content"  >{$result['content']}</textarea>

       <label></label>
      <button class="btn btn-primary" onclick="document.getElementById('subform').submit();return false"><i class="icon-save"></i> 添加</button>
    </form>
      </div>
  </div>

</div>

        </div>
    </div>
    

    <footer>
        <hr>
        <p>&copy; 2018 Online Media Organizor</a></p>
    </footer>

  </body>
</html>


